.library-body{
  /* position: absolute; */
  left: 300px;
  /* color: black; */
  width: 60%;
  /* background-color: #F6F8FD; */
}
.table-wrapper{
  width: 100%;
  border-radius: 20px;
  /* background-color: black; */

}
.table-nav{
  width: 100%;
}
.table-btn{
  width: 50%;
  height: 50px;
  background-color: white;
  border: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.table-btn:first-child{
  border-radius: 10px 0 0 0;
}
.table-btn:last-child{
  border-radius: 0 10px 0 0;
}
.table-btn.active{
  background-color: rgba(125, 109, 197, 1);
  color: #fff;
}
.table-btn:hover{
  background-color: rgba(125, 109, 197, 1);
  color: #fff;
}
.container{
  background-color: #fff;
}
.table > :not(:last-child) > :last-child > *{
  background-color: rgba(125, 109, 197, 0.86);
}
.table-striped > tbody > tr:nth-of-type(2n+1){
  background-color: rgba(125, 109, 197, 0.15);
}
.table-striped > tbody > tr:nth-of-type(2n){
  background-color: #fff;
}
.table > :not(caption) > * > *{
  border: none;
}
.data-container .table-striped{
  margin: 0;
}
.button-more{
  width: 100%;
  min-height: 50px;
  border: none;
  border-top: 1px solid rgba(125, 109, 197, 0.15);
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button-more:hover{
  background-color: rgba(125, 109, 197, 1);
  color: #fff;
}

.arrow{
  width: 20px;
  height: 20px;
  stroke: #fff;
  color: #fff;
}






.form-container{
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.table{
  margin-bottom: 0;
}
.form-container form>*{
  margin-bottom: 10px;
}
.display-flex{
  display: flex;
}
.datepicker{
  border-radius: 20px;
  width: 100%;
}
.purple:hover{
  color: black;
  border-color: rgba(125, 109, 197, 1);
  background-color: rgba(125, 109, 197, 1);
}

.form-select:focus,
.form-control:focus {
    border-color: rgba(125, 109, 197, 0.5);
    box-shadow: 0 0 0 .25rem rgba(125, 109, 197, 0.5);
}
.react-datepicker__input-container > input{
  width: 100%;
  border: 1px solid #ced4da;
  padding: 5px 10px;
  border-radius: 3px;
}