body {
    background-color: #E5E5E5;
}

.largeInput {
    position: absolute;
    width: 341px;
    height: 46px;
    top: 67px;
    left: 1062px;
    background: linear-gradient(135deg, #CCCEFB 0%, #453D69 100%);
    border-radius: 20px;
}

.circleInput {
    width: 10px;
    height: 10px;
    margin-left: 20px;
    margin-top: calc(50% - 20px/2 -1px);
    border: 1.4px solid #1B2559;
    box-sizing: border-box;
}

.small_activity {
    position: absolute;
    width: 355px;
    height: 110px;
    top: 175px;
    left: 1065px;
    background: linear-gradient(135deg, #CCCEFB 0%, #453D69 100%);
    border-radius: 20px;
}

.text-activity {
position: absolute;
width: 117px;
height: 22.58px;
left: 22.21px;
top: 22px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
letter-spacing: -0.02em;
color: #E9EDF7;
}

.cash-activity {
    position: absolute;
    width: 144px;
    height: 25px;
    left: 22px;
    top: 49.58px;
}

.chart-activity {
    position: absolute;
    width: 87.5px;
    height: 39.5px;
    left: 152.5px;
    top: 29px;
}



.small_spending {
position: absolute;
width: 355px;
height: 110px;
left: 1065px;
top: 390px;
background: #FFFFFF;
border-radius: 20px;
}

.text-spending {
position: absolute;
width: 117px;
height: 22.58px;
left: 91.21px;
top: 10px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
letter-spacing: -0.02em;
color: #A3AED0;
}

.cash-spending {
position: absolute;
width: 144px;
height: 31px;
left: 91.21px;
top: 30px;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.02em;
color: #323765;
}

.icon-spending {
position: absolute;
width: 56px;
height: 56px;
left: 17px;
top: 20px;
}

.small_chart {
    position: absolute;
    width: 355px;
    height: 110px;
    top: 605px;
    left: 1065px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.text-chart {
position: absolute;
width: 117px;
height: 22.58px;
left: 24.63px;
top: 10px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
letter-spacing: -0.02em;
color: #A3AED0;

}

.cash-chart {
position: absolute;
width: 79.03px;
height: 32.84px;
left: 24.63px;
top: 30px;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.02em;
color: #323765;
}

.bar-3 {
position: absolute;
width: 51.68px;
height: 7.37px;
left: 229.45px;
top: 80.03px;
transform: rotate(-90deg);
}

.icon-rectangle-17 {
position: absolute;
left: 64.09%;
right: 21.47%;
top: 72.75%;
bottom: 20.55%;
background: #E9EDF7;
border-radius: 61.5781px;
transform: rotate(-90deg);
}

.icon-rectangle-18 {
position: absolute;
left: 64.09%;
right: 24.03%;
top: 72.75%;
bottom: 20.55%;
background: #7D6DC5;
border-radius: 61.5781px;
transform: rotate(-90deg);
}

.small_earnings {
position: absolute;
width: 355px;
height: 110px;
left: 1065px;
top: 828px;
background: #FFFFFF;
border-radius: 20px;
}

.text-earnings {
position: absolute;
width: 117px;
height: 22.58px;
left: 91.21px;
top: 10px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
letter-spacing: -0.02em;
color: #A3AED0;
}

.cash-earnings{
position: absolute;
width: 144px;
height: 31px;
left: 91.21px;
top: 30px;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.02em;
color: #323765;
}
              
.icon-earnings {
position: absolute;
width: 56px;
height: 56px;
left: 17px;
top: 20px;
}





