* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f7fe;
}

.form-disable {
  display: none;
}
/* .side_bar {
  width: 290px;
  height: 1024px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side_bar_inner {
  width: 214px;
  height: 800px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side_bar_inner_top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 220px;
}
.logo {
  width: 229px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  color: #635992;
}
.line_logo_bottom {
  width: 100%;
  border: 1px solid #f4f7fe;
}
.text_logo {
  margin-left: 12px;
  width: 96px;
  height: 39px;
  flex-direction: column;
  display: flex;
}
.text_logo_money {
<<<<<<< HEAD
  font-family: "Poppins", sans-serif;
=======
>>>>>>> 808826d (add side bar)
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 100%;
}
.text_logo > span {
<<<<<<< HEAD
  font-family: "Poppins", sans-serif;
=======
>>>>>>> 808826d (add side bar)
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}
.side_bar_inner_top a {
  text-decoration: none;
}*/
/* a {
  display: flex;
  align-items: center;
  width: 214px;
  height: 45px;
  border-radius: 4px;
  text-decoration: none;
  padding-left: 15px;
  color: #a3aed0;
}

path {
  fill: #a3aed0;
}
a > span {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  margin-left: 10px;
}
a:hover {
  color: #645992;
  transition: all 0.5s ease;
}
a:hover path {
  fill: #645992;
  transition: all 0.5s ease;
}
.active {
  background-color: #635992;
  color: #fff;
}
.active path {
  fill: #fff;
}
.active:hover {
  color: #fff;
}
.active:hover path {
  fill: #fff;
} */
